@model ECommerceMVC.Application.Dtos.Products.ProductDto

<h2>Edit Product</h2>

<form method="post" asp-action="EditProduct">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Name:</label>
        <input type="text" asp-for="Name" required />
    </div>
    <div>
        <label>Price:</label>
        <input type="number" asp-for="Price" required />
    </div>
    <div>
        <label>Description:</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <label>Image Path:</label>
        <input type="text" asp-for="ImagePath" />
    </div>
    <div>
        <label>Brand:</label>
        <input type="text" asp-for="Brand" />
    </div>
    <div>
        <label>Sex:</label>
        <input type="text" asp-for="Sex" />
    </div>
    <div>
        <label>Product Type:</label>
        <select asp-for="ProductType">
            <option value="1">Raquets</option>
            <option value="2">Balls</option>
            <option value="3">Bags</option>
            <option value="4">Accessories</option>
        </select>
    </div>
    <button type="submit">Update Product</button>
</form>